@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    background-color: rgba(31, 41, 55);
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

/* #map {
    margin-top: 75px;
} */
#map { 
    position: absolute;
    left: 0%;
    top: 0;
    bottom: 0;
    transition: 0.55s;
    width: 100%;
}
.toggle-overlay {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    background-color: transparent;
    max-height: 100vh;
    transition: 0.55s;
    overflow: hidden;
    /* writing-mode: vertical-lr;
    text-orientation: upright;
    word-break: break-all; */
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); */
}

.toggle-overlay button {
    font-size: medium;
    /* padding: 20px 20px; */
    border: 4px solid #000;
    background: #efefef;
    width: 100px;
}

.map-overlay {
    position: absolute;
    z-index: 50;
    width: 0%;
    top: 0;
    bottom: 0;
    left: 0;
    height: 75vh;
    background-color: #efefef;
    max-height: 100vh;
    transition: 0.55s;
    overflow: hidden;
}
     
.map-overlay fieldset {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
}
     
.map-overlay input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}
     
.map-overlay .listing {
    overflow: auto;
    max-height: 100%;
}
     
.map-overlay .listing > * {
    display: block;
    padding: 5px 10px;
    margin: 0;
}
     
.map-overlay .listing button {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(13, 31, 36);
    text-decoration: none;
}
     
.map-overlay .listing button:last-child {
    border: none;
}
     
.map-overlay .listing button:hover {
    background: #f0f0f0;
}

